<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>索隆</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119930421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>乔巴</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119990421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>山治</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119940421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>乌索普</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119960421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>弗兰奇</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119920421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>娜美</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区三栋</string>
		<key>sexStr</key>
		<string>女</string>
		<key>idcardNumStr</key>
		<string>21112119950421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>罗宾</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区三栋</string>
		<key>sexStr</key>
		<string>女</string>
		<key>idcardNumStr</key>
		<string>21112119900421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>梅里号</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119990421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>汉库克</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区三栋</string>
		<key>sexStr</key>
		<string>女</string>
		<key>idcardNumStr</key>
		<string>21112119960421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>路飞</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119940421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>巴基</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119930421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>明哥</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119900421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>艾斯</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119930421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>香克斯</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119900421201X</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>customer.png</string>
		<key>nameStr</key>
		<string>青雉</string>
		<key>locationStr</key>
		<string>杭州电子科技大学生活区二栋</string>
		<key>sexStr</key>
		<string>男</string>
		<key>idcardNumStr</key>
		<string>21112119900421201X</string>
	</dict>
</array>
</plist>
