<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>android</key>
		<string>|5.9</string>
		<key>icon</key>
		<string>http://img.spriteapp.cn/ugc/2015/05/20/150548_7833.png</string>
		<key>id</key>
		<string>34</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string>|3.5</string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>待办事项</string>
		<key>url</key>
		<string>mod://BDJ_To_Mine@dest=1</string>
	</dict>
	<dict>
		<key>android</key>
		<string>3.8.0|</string>
		<key>icon</key>
		<string>http://img.spriteapp.cn/ugc/2015/05/20/150609_9589.png</string>
		<key>id</key>
		<string>48</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>我的收藏</string>
		<key>url</key>
		<string>mod://BDJ_To_Mine@dest=2</string>
	</dict>
	<dict>
		<key>android</key>
		<string>4.0|</string>
		<key>icon</key>
		<string>http://mstatic.spriteapp.cn//ugc/2016/08/26/vF9w8T.jpg</string>
		<key>id</key>
		<string>153</string>
		<key>ipad</key>
		<string>1.0|</string>
		<key>iphone</key>
		<string>4.0|</string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>头条新闻</string>
		<key>url</key>
		<string>http://m.9wuli.com/sdkweb/?appId=dfb3405cd7e43be149e1c6679e4e189d&amp;appSecret=35925174bc62732bbbc82f1a1a571ede&amp;navstyle=a</string>
	</dict>
	<dict>
		<key>android</key>
		<string>20.0|</string>
		<key>icon</key>
		<string>http://mstatic.spriteapp.cn//ugc/2017/03/03/70JOht.jpg</string>
		<key>id</key>
		<string>110</string>
		<key>ipad</key>
		<string>1.0|3.8.2</string>
		<key>iphone</key>
		<string>1.0|</string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>租房</string>
		<key>url</key>
		<string>https://jumpluna.58.com/i/Lso1JbD2J9tMeMj</string>
	</dict>
	<dict>
		<key>android</key>
		<string>4.0|</string>
		<key>icon</key>
		<string>http://img.spriteapp.cn/ugc/2016/02/15/150558_9138.png</string>
		<key>id</key>
		<string>95</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string>6.0|</string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>看小说</string>
		<key>url</key>
		<string>http://m.kingreader.com/Class/List1/bsapp.chtml?tgid=6988141</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>http://img.spriteapp.cn/ugc/2014/05/06/141211_3901.png</string>
		<key>id</key>
		<string>0</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>更多</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
