<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>home_approval.png</string>
		<key>locationStr</key>
		<string>浙江省杭州市杭州电子科技大学</string>
		<key>detailStr</key>
		<string>本周完成了毕业设计！</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
</array>
</plist>
