<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
	<dict>
		<key>imageStr</key>
		<string>capa.png</string>
		<key>detailStr</key>
		<string>本周完成毕业设计+论文部分</string>
		<key>timeStr</key>
		<string>2017-05-14</string>
	</dict>
</array>
</plist>
